div{
  display: inline;
}
p
{
  text-align: center;
}
button{
  position: absolute;
  top:10px;
  right:20px;
}



// div:nth-child(1) {
//   margin: 0 0 0 2.5vw;
// }
// div:nth-child(2) {
//   margin: 0 2.5vw 0 0;
// }
